@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%;
  background-color: #f9f8f6;
  }


/* main
------------------------------------------------------------*/

header {
  background: #f9f8f6; }
  header #contents {
    padding-top: 10px;
    padding-bottom: 4px; }
  @media (max-width: 550px) {
    header .logo {
      width: 190px; }
    header .navi {
      width: 40px;
      float: right; } }


  .line{
    text-align: center;
  }
  .box {
    text-align: left;
    background-color: #fff;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0.5% 0.1%;
  } 
    .box img{
    width: 100%;
    height: auto;
  }
  .box p{
    font-size: small;
    color: #000000; 
    margin-top:5px;
  }
  .box a{
    text-decoration: none;
  }
  
  .sidebar{
        background-color:pink;
        width: 100%;
  }
    
 @media (max-width: 550px) {
  .contents{
  }
  .main{
    width: 100%;
    height: 100%; 
    background-color: #d4d4d4;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .title1{
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-image: url(../images/top_sp/title_new_item.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .title2{
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-image: url(../images/top_sp/title_popular.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .title3{
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-image: url(../images/top_sp/title_guide.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .line{
    margin: 0 0.8%;
  }
  .box {
    width: 49%;
    height: auto;
  }
  .sidebar{
    display: block;
		width: 100%;
		height: 100%;
    background-color: pink;
  }
  
}


@media (min-width: 550px) {
  .contents {
    width: 100%;
    background-color: #f8f8f8;
  }

  .main{
    width: 74%;
    height: 100%; 
    float: left;
    background-color: #f9f8f6;
    margin: 0 auto;
  }
  .carusel{
    width: 100%;
    background-color: #f9f8f6;
  }
  .title1{
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-image: url(../images/top/title_newitems.png);
    background-position: center;
  }
  .title2{
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-image: url(../images/top/title_popular.png);
    background-position: center;
  }
  .title3{
    width: 100%;
    height: 15px;
    margin: 10px 0;
    background-image: url(../images/top/title_guide.png);
    background-position: center;
  }
    .line{
      
    }
  .box {
    width: 32%;
    background-color: #fff;
  }
  .box2 {
    text-align: left;
    background-color: #fff;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0.5% 0.1%;
    width: 49%;
    height: auto;
    background-color: #fff;
    vertical-align:top;
  }
  .box2 h3{
    font-weight: bold;
    font-size: large;
    color: #887f69;
    margin-bottom: 0.3em;
  }
  .box2 h4{
    font-size: medium;
    color: #887f69;
    margin-bottom: 0.3em;
  }
  .box2 img{
    text-align: left;
    margin-bottom: 1em;
    max-width: 100%;
  }
  .box2 p{
    font-size: small;
    color: #000000;
  }
  .sidebar{
    width: 26%;
    height: 400px;
    float: left;
    margin-top: 0;
    
    }
  }




/* Footer
------------------------------------------------------------*/

    footer {
      background-color: #f9f8f6;
      padding-top: 30px; }
      
    .footer_menu{
      text-align: center;
      font-size: small;
      color: #000000;
    }
    .footer_menu a{
      text-decoration: none;
      color: #000000;
    }
    .copy{
      text-align: center;
      font-size: small;
    }

